.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 0.8em;
    color: #777;
    margin-left: 0.5em;
}

.message img {
    object-fit: cover;
}

.userLink {
    color: #555;
    text-decoration: none;
}

.userLink:hover {
    text-decoration: underline;
}