.messageBubble {
    border-radius: 0.8em;
    padding: 0.6em;
    margin: 0.25em;
}

.messageText {
    margin: 0;
    word-wrap: break-word;
    max-width: 400px;
}

@media (max-width: 700px) {
    .messageText {
        max-width: 60vw;
    }
}