footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .fb-share-button {
    margin-right: 2em;
}

footer>p {
    font-family: "Roboto Thin", sans-serif;
    font-size: 0.8em;
    color: #666;
}

footer>p a {
    text-decoration: none;
    color: #333;
}

footer>p a:hover {
    text-decoration: underline;
}